.color-wrapper{
  display:flex;
  justify-content: center;
}
.tuq-display{
  background-color: #8ac6d1;
  color:#ffe3ed;
}
.pink-display{
  background-color: #fffdf9;
  color:#8ac6d1;
}
.pink-display, .tuq-display{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100vh;
  text-decoration: none;
}